{% extends '@Home/Default/index.html.twig' %}

{% block content %}

    <div class="col-md-6 offset-md-3 text-center">
        <h1 class="text-center">
            <span class="badge badge-primary">Mis Posts</span>
        </h1>
        {% for e in entradas %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-tittle">
                        <div class="text-right">
                            <span class="badge badge-light card">
                                 Autor: {{ e.user.name }}
                            </span>
                        </div>
                        <h3>
                            <span class="badge badge-light card">
                                {{ e.titulo }}
                            </span>
                        </h3>
                    </h5>
                    <p class="card-text">
                        {{ e.cuerpo }}
                    </p>
                    <button class="btn btn-success btn-editar"
                            data-entrada="{{ e.id }}"
                            data-titulo="{{ e.titulo }}"
                            data-cuerpo="{{ e.cuerpo }}"
                            data-toggle="modal" data-target="#modalEditar">
                        Editar
                    </button>
                    <button class="btn btn-danger btn-eliminar"
                            data-entrada="{{ e.id }}"
                            data-toggle="modal"
                            data-target="#modalEditar">
                        Eliminar
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>


    <!-- Modal Editar/Eliminar-->
    <div class="modal fade" id="modalEditar" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">
                        <span class="badge badge-light">Editar Entrada</span>
                    </h4>
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('entrada_edit') }}"
                      method="post"
                      id="form-entrada">
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-success btn-ok">
                            Guardar
                        </button>
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Salir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {

            $(".navbar-nav").find(".active").removeClass("active");
            $(".miposts").addClass("active");

            $(".btn-editar").click(function() {

                $(".modal-title .badge").text('Editar Entrada');
                $(".modal-body").empty();
                $(".modal-body").append('{{ form_label(formEntrada.titulo) }}');
                $(".modal-body").append('{{ form_widget(formEntrada.titulo) }}');
                $(".modal-body").append('{{ form_label(formEntrada.cuerpo) }}');
                $(".modal-body").append('{{ form_widget(formEntrada.cuerpo) }}');
                $(".modal-body").append(
                    '<input type="hidden" id="id" name="_id_entrada" ' +
                    'value="'+$(this).data('entrada')+'">'
                );
                $(".btn-ok").html('Guardar');

                $("#entradabundle_entrada_titulo").val($(this).data('titulo'));
                $("#entradabundle_entrada_cuerpo").val($(this).data('cuerpo'));
            });

            $(".btn-eliminar").click(function() {

                $("#form-entrada").attr('action','/delet');
                $(".modal-title .badge").text('Eliminar Entrada');
                $(".modal-body").empty();
                $(".modal-body").append(
                    '<p> ¿Esta Seguro de Eliminar Esta Entrada?</p>'
                );
                $(".modal-body").append(
                    '<input type=\"hidden\" id=\"id_eliminar\" ' +
                    'name=\"_id-eliminar\">'
                );

                $(".btn-ok").html('Confirmar');

                $("#id_eliminar").val($(this).data('entrada'));
            });
        });
    </script>
{% endblock %}