{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-4 offset-md-4 mt-5 card">
        <div class="col-md-12 mt-4">
            <form action="{{ path("profile") }}" method="post">

                <h1 class="text-center">
                    <span class="badge badge-primary">Perfil</span>
                </h1>
                <input type="hidden" name="id" id="id" value="{{ user.id }}">

                {% if app.session.get('user').rol ==
                    constant(
                    'LoginBundle\\Repository\\usersRepository::USER_ADMIN'
                    )
                %}

                <div class="form-group">
                    <select class="form-control"
                            id="select_rol"
                            name="_select_rol">
                        {% for r in roles %}
                            {% if user.rol == r %}
                                <option selected>{{ r }}</option>
                            {% else %}
                                <option>{{ r }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control"
                            id="select_active"
                            name="_select_active">
                        {% for a in status %}
                            {% if (user.active == 1) and
                                (a ==
                                constant(
                                'LoginBundle\\Repository\\usersRepository::USER_ALTA'
                                )
                                )
                            %}
                                <option selected>{{ a }}</option>
                            {% elseif (user.active == 0) and
                                (a ==
                                constant(
                                'LoginBundle\\Repository\\usersRepository::USER_BAJA'
                                )
                                )
                            %}
                                <option selected>{{ a }}</option>
                            {% else %}
                                <option> {{ a }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% endif %}

                {{ form_label(form.name) }}
                {{ form_widget(form.name,{'value':user.name}) }}

                {{ form_label(form.surname) }}
                {{ form_widget(form.surname,{'value':user.surname}) }}

                {{ form_label(form.email) }}
                {{ form_widget(form.email,{'value':user.email}) }}

                {{ form_label(form.password) }}
                {{ form_widget(form.password,{'value':user.password}) }}

                {{ form_label(form.username) }}
                {{ form_widget(form.username,{'value':user.username}) }}

                <div class="col-md-12 text-center mt-3 mb-3">
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {

        $(".navbar-nav").find(".active").removeClass("active");
        $(".perfil").addClass("active");

    });
</script>
{% endblock %}